.all 
    margin-left 300px
    white-space nowrap
    font-size 14px
.pms-bt
    background-color #00AE9B
    color #FFFFFF
    padding  6px 12px
    margin-right 50px
.pms-addwarehouse
    margin-right 50px
    border 1px solid #050505
    padding 12px
.pms-xing
    color #F00
    margin-left 10px
    font-size 18px
.pms-addwarehouse
    margin-right 50px
    border 1px solid #050505
    padding 12px
    .pms-addheader
        background-color #F9A94A
        color #FFFFFF
        padding 6px 12px
        margin -10px -10px 15px -10px
.pms-add
    border 1px solid #F89D30
    padding 10px
.pms-startwarehouse,
.pms-stopwarehouse,
.pms-return,
.fa-plus-square
    margin-left 3%
    cursor pointer
.pms-tb
    vertical-align super
.pms-business
    background-color #F1F1F1



.pms-style
    padding 6px 12px
    margin 5px 0
.pms-information
    width auto
.pms-alignment
    margin 10px 0 5px 0
.pms-table
    text-align center
td
    width 15%
.pms-weight .form-control
    width 140px
.pms-btn1,
.pms-btn2
    margin 20px 80px 20px 0px
    padding 6px 12px
.pms-file
    margin-top 20px
.pms-juli
    margin 0px
.pms-style:focus,
.pms-style:focus,
.pms-input:focus,
.pms-select:focus
    border-color #CCC
    box-shadow none