.all 
    margin-left 300px
    white-space nowrap
    font-size 14px
.PMS-bt
    background-color #00AE9B
    color white
    padding 10px
    margin-right 50px
    position relative
    .PMS-img,
    .PMS-imgs
        position absolute
        right -30px
        top 5px
        color gray
    .PMS-imgs
        display none
.PMS-xing
    color red
    margin-left 10px
    vertical-align middle
.PMS-addwarehouse
    margin-right 50px
    border 1px solid black
    padding 15px
    display none
.PMS-add
    border 1px solid #F89D30
    padding 10px
    .PMS-addheader
        background-color #F9A94A
        color white
        padding 5px
        margin -10px -10px 15px -10px
        .fa-plus-square,
        .fa-play,
        .fa-pause,
        .fa-repeat
            margin-left 15px
            cursor pointer
        .fa-comments
            vertical-align super
.PMS-lable
    width 18%
    .PMS-tr
        background-color #F1F1F1
.form-control.PMS-input,
.form-control.PMS-select
    box-shadow none
    border 1px solid gray
.col-sm-2.PMS-yuejie
    width 8%