extends templates/pms

block vars

block title
  | PMS新增页面

block styles

block content
    .all
        h3 商家注册
        h5.pms-bt
            | 基础信息设置
        form(class="form-horizontal")
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 商家编码
                        span.pms-xing *
                div.col-sm-3
                    input(type="type",class="form-control" id="exampleInputName2" placeholder="建议为拼音首字母").pms-input
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 商家名称
                        span.pms-xing *
                div.col-sm-3
                    input(type="type",class="form-control" id="exampleInputName2" placeholder="贵公司名字").pms-input
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 商家全称
                        span.pms-xing *
                div.col-sm-3
                    input(type="type",class="form-control" id="exampleInputName2" placeholder="贵公司全称").pms-input
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 短信模板名称
                        span.pms-xing &nbsp;
                div.col-sm-3
                    input(type="type",class="form-control" id="exampleInputName2").pms-input
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 接货分拣中心
                        span.pms-xing *
                div.col-sm-3
                    select(class="form-control").pms-select
                        option 请选择
                        option 请选择
                        option 请选择
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 取货模式
                        span.pms-xing *
                div.col-sm-3
                    select(class="form-control").pms-select
                        option 请选择
                        option 配送上自提
                        option 商家送货上门
                        option 其他
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 取货部门
                        span.pms-xing *
                div.col-sm-3
                    select(class="form-control").pms-select
                        option 请选择
                        option 分拣中心
                        option 配送站
                div.col-sm-3
                    select(class="form-control").pms-select
                        option 请选择
                        option 分拣中心
                        option 配送站
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 商家货物品类
                        span.pms-xing *
                div.col-sm-3
                    select(class="form-control").pms-select
                        option 请选择商品类别
                        option 请选择商品类别
                        option 请选择商品类别
            div.form-group
                lable(for="exampleInputName2",class="col-sm-2 control-label")
                    b 商家类别
                        span.pms-xing *
                div.col-sm-3
                    select(class="form-control").pms-select
                        option 请选择
                        option 项目模式
                        option 快递模式
                lable(for="exampleInputName2",class="col-sm-2 control-label",class="PMS-yuejie")
                    b 月结编码
                div.col-sm-3
                    input(type="type",class="form-control" id="exampleInputName2").pms-input
        h5.pms-bt
            | 添加商家仓库
            span.fa.fa-angle-double-down.fa-2x.PMS-img#pms-addware
            span.fa.fa-angle-double-up.fa-2x.PMS-imgs#pms-addwares
        div.pms-addwarehouse#pms-addwarehouse
            div.table-responsive.pms-add
                div.pms-addheader
                    span.fa.fa-comments
                    span.fa.fa-plus-square#pmsadd
                        &nbsp;新增
                    span.fa.fa-play
                        &nbsp;启用
                    span.fa.fa-pause#pmsstop
                        &nbsp;停用
                    span.fa.fa-repeat
                        &nbsp;返回
                table.table.table-bordered
                    tr 
                        td 序号
                        td 选择
                        td 操作
                        td 商家名称
                        td 仓库编码
                        td 仓库名称
                        td 省份
                        td 城市
                        td 区县
                        td 仓库地址
                        td 启用状态
                    tr.pms-business
                        td 1
                        td 
                            input(type="checkbox",name="stop")
                        td 
                            a(href="") 修改
                        td 拼多多
                        td pddbjkf01
                        td 北京库房
                        td 北京
                        td 北京市 
                        td 西城区
                        td 北京
                        td.PMS-state 可用
        h5.pms-bt
            | 系统数据设置
            span.fa.fa-angle-double-down.fa-2x.PMS-img#pms-data
            span.fa.fa-angle-double-up.fa-2x.PMS-imgs#pms-datas
        div.pms-addwarehouse#pms-dataset
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1")
                | 是否显示姓名 
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1") 
                | 是否显示姓名 
            br 
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1") 
                | 是否显示姓名
        h5.pms-bt
            | 其它设置
            span.fa.fa-angle-double-down.fa-2x.PMS-img#pms-other
            span.fa.fa-angle-double-up.fa-2x.PMS-imgs#pms-others
        div.pms-addwarehouse#pms-otherset
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1") 
                | 是否允许接口导入
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox2")
                | 预筛单模式
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox3") 
                | 是否运单号=订单号
            br
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1") 
                | 称重复核
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox2")
                | 是否直接出库
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox3") 
                | 是否在退货单打印菜单显示此商家
        h5.pms-bt
            | 商家流程自定义
            span.fa.fa-angle-double-down.fa-2x.PMS-img#pms-lc
            span.fa.fa-angle-double-up.fa-2x.PMS-imgs#pms-lcs
        div.pms-addwarehouse#pms-custom
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1") 
                | 允许POS机刷卡
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox2")
                | 允许他人签收
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox3")
                | 允许开商品自身包装验货
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox4") 
                | 操作退货审核
            lable.pms-set
                | 配送优先级别
                select(class="pms-distribution")
                    option 请选择商品类别
                    option 请选择商品类别
                    option 请选择商品类别
            br
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox1") 
                | 收集客户身份证后4位
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox2")
                | 允许开外包箱验货
            lable.checkbox-inline.pms-set
                input(type="checkbox" id="inlineCheckbox3") 
                | 允许试用、试穿
            lable.checkbox-inline.pms-set
            lable.pms-set
                | 滞留几天退回
                select(class="pms-distribution")
                    option 请选择商品类别
                    option 请选择商品类别
                    option 请选择商品类别
    script.
        $(document).ready(function(){
            $("#pms-addware").click(function(){
                $("#pms-addwarehouse").show();
                $("#pms-addwares").show();
                $("#pms-addware").hide();
                })
            $("#pms-addwares").click(function(){
                $("#pms-addwarehouse").hide();
                $("#pms-addware").show();
                $("#pms-addwares").hide();
                })
            $("#pms-data").click(function(){
                $("#pms-dataset").show();
                $("#pms-datas").show();
                $("#pms-data").hide();
                })
            $("#pms-datas").click(function(){
                $("#pms-dataset").hide();
                $("#pms-data").show();
                $("#pms-datas").hide();
                })
            $("#pms-other").click(function(){
                $("#pms-otherset").show();
                $("#pms-others").show();
                $("#pms-other").hide();
                })
            $("#pms-others").click(function(){
                $("#pms-otherset").hide();
                $("#pms-other").show();
                $("#pms-others").hide();
                })
            $("#pms-lc").click(function(){
                $("#pms-custom").show();
                $("#pms-lcs").show();
                $("#pms-lc").hide();
                })
            $("#pms-lcs").click(function(){
                $("#pms-custom").hide();
                $("#pms-lc").show();
                $("#pms-lcs").hide();
                })
            $("#pmsstop").click(function(){
                if($('[name=stop]').is(':checked'))
                {
                    alert("停用成功")
                    $(".PMS-state").replaceWith("不可用");
                }
                else
                {
                    alert("请选择停用仓库，谢谢!")
                }
                })
            $("#pmsadd").click(function(){
                window.open("b-PMSaddwarehouse.html","_black","width=800, height=400,top=200,left=200")
                })
        })
    