extends templates/pms

block vars

block title
  | PMS新增页面

block styles

block content
    .container.PMS-all
        .row
            //.col-xs-3
            .PMS-left
                ul
                    li 商家维护查询页面
                    li 商家维护新增页面
                    li New Page 3
            //.col-xs-9
            .PMS-right
                h3 商家注册
                p.PMS-bg 基础信息设置
                p.PMS-jcxx 
                    b 商家编码
                    b.PMS-xing *
                    input(type="text",placeholder="建议为拼音首字母",class="PMS-input")
                p.PMS-jcxx 
                    b 商家名称
                    b.PMS-xing *
                    input(type="text",placeholder="贵公司名字",class="PMS-input")
                p.PMS-jcxx 
                    b 商家全称
                    b.PMS-xing *
                    input(type="text",placeholder="贵公司全称",class="PMS-input")
                p 
                    b 短信模板名称
                    b.PMS-xing *
                    input(type="text",class="PMS-input")
                p 
                    b 接货分拣中心
                    b.PMS-xing *
                    select(class="PMS-select")
                        option 请选择
                        option
                        option
                p.PMS-jcxx 
                    b 取货模式
                    b.PMS-xing *
                    select(class="PMS-select")
                        option 请选择
                        option 配送上自提
                        option 商家送货上门
                        option 其他
                p.PMS-jcxx 
                    b 取货部门
                    b.PMS-xing *
                    select(class="PMS-select")
                        option 请选择
                        option 分拣中心
                        option 配送站
                    select(class="PMS-select")
                        option 分拣中心列表
                        option 配送站列表
                p 
                    b 商家货物品类
                    b.PMS-xing *
                    select(class="PMS-select")
                        option 请选择商品类别
                p.PMS-jcxx 
                    b 商家类别
                    b.PMS-xing *
                    select(class="PMS-select")
                        option 请选择
                        option 项目模式
                        option 快递模式
                    span 
                        b 月结编码&#160;&#160; 
                        input(type="text",class="PMS-input")
                .PMS-bg 添加商家仓库
                    span.fa.fa-angle-double-down.fa-2x.PMS-img#PMSaddshow
                    span.fa.fa-angle-double-up.fa-2x.PMS-imgs#PMSaddshows
                div.PMS-addall#PMSadd
                    b 商家名称:拼多多
                    div.PMS-addk
                        div.PMS-add
                            span.fa.fa-plus-square(onclick="PMSopen()",)
                                &#160;新增
                            span.fa.fa-play(id="PMSstart")
                                &#160;启用
                            span.fa.fa-pause(id="PMSstop")
                                &#160;停用
                            span.fa.fa-repeat
                                &#160;返回
                        table.PMS-table
                            tr
                                th.PMS-th 序号
                                th.PMS-th 选择
                                th.PMS-th 操作
                                th.PMS-th 商家名称
                                th.PMS-th 仓库编码
                                th.PMS-th 仓库名称
                                th.PMS-th 省份
                                th.PMS-th 城市
                                th.PMS-th 区县
                                th.PMS-th 仓库地址
                                th.PMS-th 启用状态
                            tr
                                td.PMS-td 1
                                td.PMS-td 
                                    input(type="checkbox",name="stop")
                                td.PMS-td 修改
                                td.PMS-td 拼多多
                                td.PMS-td pddbjkf01
                                td.PMS-td 北京库房
                                td.PMS-td 北京
                                td.PMS-td 北京市
                                td.PMS-td 西城区
                                td.PMS-td 北京
                                td.PMS-td.PMS-state 可用
                br
                .PMS-bg 系统数据设置
                    span.fa.fa-angle-double-down.fa-2x.PMS-img#PMSshow
                    span.fa.fa-angle-double-up.fa-2x.PMS-imgs#PMSshows
                div.PMS-addall#PMSname
                    table
                        tr
                            td.PMS-check
                                 input(type="checkbox",name="data")
                                 |是否显示姓名
                            td.PMS-check
                                 input(type="checkbox",name="data")
                                 |是否显示姓名
                        tr
                            td.PMS-check
                                 input(type="checkbox",name="data")
                                 |是否显示姓名
                br
                .PMS-bg 其它设置
                    span.fa.fa-angle-double-down.fa-2x.PMS-img#PMSother
                    span.fa.fa-angle-double-up.fa-2x.PMS-imgs#PMSothers
                div.PMS-addall#PMSaddother
                    table
                        tr
                            td.PMS-check
                                input(type="checkbox")
                                |是否允许接口导入
                            td.PMS-check
                                input(type="checkbox")
                                |预筛单模式
                            td.PMS-check
                                input(type="checkbox")
                                |是否运单号=订单号
                        tr
                            td.PMS-check
                                input(type="checkbox")
                                |称重复核
                            td.PMS-check
                                input(type="checkbox")
                                |是否直接出库
                            td.PMS-check
                                input(type="checkbox")
                                |是否在退货单打印菜单显示此商家
                br
                .PMS-bg 商家流程自定义
                    span.fa.fa-angle-double-down.fa-2x.PMS-img#PMScustom
                    span.fa.fa-angle-double-up.fa-2x.PMS-imgs#PMScustoms
                div.PMS-addall#PMSaddcustom
                    table
                        tr
                            td.PMS-check
                                input(type="checkbox")
                                |允许POS机刷卡
                            td.PMS-check
                                input(type="checkbox")
                                |允许他人签收
                            td.PMS-check
                                input(type="checkbox")
                                |允许开商品自身包装验货
                            td.PMS-check
                                input(type="checkbox")
                                |操作退货审核
                            td.PMS-check
                                |配送优先级别
                                select(class="PMS-zdy")
                                    option
                                        |Ａ级（最紧急）
                                    option
                                        |Ｂ级（紧急）
                                    option
                                        |Ｃ级（正常）
                        tr.PMS-addtr
                            td.PMS-check
                                input(type="checkbox")
                                |收集客户身份证后4位
                            td.PMS-check
                                input(type="checkbox")
                                |允许开外包箱验货
                            td.PMS-check
                                input(type="checkbox")
                                |允许试用、试穿
                            td
                            td.PMS-check
                                |滞留几天退回
                                select(class="PMS-zdy")
                                    option
                                        |等客服指令
                                    option
                                        |1天
                                    option
                                        |2天
                                    option
                                        |3天
                                    option
                                        |4天
                                    option
                                        |5天
    script.
        $(document).ready(function(){
            $("#PMSaddshow").click(function(){
                $("#PMSadd").show();
                $("#PMSaddshow").hide();
                $("#PMSaddshows").show();
                })
            $("#PMSaddshows").click(function(){
                $("#PMSadd").hide();
                $("#PMSaddshow").show();
                $("#PMSaddshows").hide();
                })
            $("#PMSshow").click(function(){
                $("#PMSname").show();
                $("#PMSshow").hide();
                $("#PMSshows").show();
                })
            $("#PMSshows").click(function(){
                $("#PMSname").hide();
                $("#PMSshow").show();
                $("#PMSshows").hide();
                })
            $("#PMSother").click(function(){
                $("#PMSaddother").show();
                $("#PMSother").hide();
                $("#PMSothers").show();
                })
            $("#PMSothers").click(function(){
                $("#PMSaddother").hide();
                $("#PMSother").show();
                $("#PMSothers").hide();
                })
            $("#PMScustom").click(function(){
                $("#PMSaddcustom").show();
                $("#PMScustom").hide();
                $("#PMScustoms").show();
                })
            $("#PMScustoms").click(function(){
                $("#PMSaddcustom").hide();
                $("#PMScustom").show();
                $("#PMScustoms").hide();
                })
        })
        $(document).ready(function(){
             $("#PMSstop").click(function(){
                if($('[name=stop]').is(':checked'))
                {
                    alert("停用成功");
                    $(".PMS-state").replaceWith("不可用");
                  //- code
                }
                else
                {
                    alert("请选择停用仓库，谢谢!")
                }
                })
           })
        function PMSopen(){
            window.open("add-warehouse.html","_blank","location=yes, scrollbars=yes, width=600, height=400,top=200,left=300")
        }
   